.jumbotron {
  text-align: center;
  background-color: burlywood;
  color: black;
  border-radius: 0;
}

.container-fluid {
  padding-right:0;
  padding-left:0px;
  margin-right:auto;
  margin-left:auto
}

li{
  list-style: none;
}

.print-forecast{
  column-count: 4;
}

h2, h3{
  font-size: 10px;
}